{% extends 'base.html.twig' %}
{% import 'macros/macros.html.twig' as macros %}
{% block title %}{{ event.name }}{% endblock %}
{% block body %}
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                {% if guild.icon is not null %}
                    <img class="avatar rounded-circle"
                         src="https://cdn.discordapp.com/icons/{{ guild.discordId }}/{{ guild.icon }}.png" width="32"
                         height="32"/>
                {% endif %}
                <strong><a href="{{ path('guild_view', {'guildId': guild.id}) }}">
                    {{ guild.name }}
                </a>
                    - Event: {{ event.name }}</strong>
            </div>
            <div class="card-body">
                {% if guild.isAdmin(app.user) %}
                    <div class="float-right">
                        {{ macros.linkbutton(
                            path('guild_event_update', {guildId: guild.id, eventId: event.id}),
                            'Edit Event',
                            'info',
                            'edit'
                        ) }}
                        {{ macros.linkbutton(
                            path('guild_event_delete', {guildId: guild.id, eventId: event.id}),
                            'Delete Event',
                            'danger',
                            'trash'
                        ) }}
                    </div>
                {% endif %}
                <strong>Starts at:</strong> {{ app.user.toUserTimeString(event.start) }}<br>
                {% if event.description is not null %}
                    <strong>Description:</strong> {{ event.description }}<br>
                {% endif %}
                <strong>Total Attendees:</strong> {{ event.attendees|length }}
            </div>
        </div>
        <div class="mt-3"></div>
        <div class="card">
            <div class="card-header">
                <strong>Event Attendance</strong>
            </div>
            <div class="card-body">
                <table class="table">
                    <tbody>
                    {% for attendee in event.attendees %}
                        <tr>
                            <td style="vertical-align: middle"><strong>{{ attendee.user.username }}</strong><small>#{{ attendee.user.discordDiscriminator }}</small></td>
                            <td style="vertical-align: middle"><img src="{{ asset(attendee.getClassIcon()) }}" alt="{{ attendee.getClassName() }}" title="{{ attendee.getClassName() }}" width="30px"/></td>
                            <td style="vertical-align: middle"><img src="{{ asset(attendee.getRoleIcon()) }}" alt="{{ attendee.getRoleName() }}" title="{{ attendee.getRoleName() }}" width="30px"/></td>
                            <td style="vertical-align: middle">
                                {% for set in attendee.sets %}
                                    <a href="https://eso-sets.com/set/{{ set.slug }}" target="_blank">{{ set.name }}</a><br>
                                {% endfor %}
                            </td>
                            <td style="vertical-align: middle"><i class="fa fa-clock" title="{{ app.user.toUserTimeString(attendee.createdAt) }}"></i></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header"><strong>My attendance</strong></div>
            <div class="card-body">
                {% if attending %}
                    <div class="alert alert-success">You are attending this event.</div>
                {% endif %}
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
                {% if attending %}
                    {{
                    macros.linkbutton(
                        path('guild_event_unattend', {guildId: guild.id, eventId: event.id}),
                        'I\'m no longer attending',
                        'danger btn-block',
                        'times'
                    )
                    }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}