{% extends 'base.html.twig' %}
{% import 'macros/macros.html.twig' as macros %}
{% block title %}{{ event.name }}{% endblock %}
{% block body %}
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                {% if guild.icon is not null %}
                    <img class="avatar rounded-circle"
                         src="{{ guild.getFullIconUrl() }}" width="32"
                         height="32"/>
                {% endif %}
                <strong><a href="{{ path('guild_view', {'guildId': guild.id}) }}">
                        {{ guild.name }}
                    </a>
                    - Event: {{ event.name }}</strong>
            </div>
            <div class="card-body">
                {% if guild.isAdmin(app.user) %}
                    <div class="float-right text-right">
                        {{ macros.linkbutton(
                            path('guild_event_update', {guildId: guild.id, eventId: event.id}),
                            'Edit Event',
                            'info',
                            'edit'
                        ) }}
                        {{ macros.linkbutton(
                            path('guild_event_delete', {guildId: guild.id, eventId: event.id}),
                            'Delete Event',
                            'danger',
                            'trash'
                        ) }}
                        {% if event.poll is null %}
                            <br>
                            {{ macros.linkbutton(
                                path('guild_event_poll', {guildId: guild.id, eventId: event.id}),
                                'Create Poll',
                                'success mt-1',
                                'poll'
                            ) }}
                        {% endif %}
                    </div>
                {% endif %}
                <strong>Starts at:</strong> {{ app.user.toUserTimeString(event.start) }}<br>
                {% if event.end %}
                    <strong>Ends at:</strong> {{ app.user.toUserTimeString(event.end) }}<br>
                {% endif %}
                {% if event.description is not null %}
                    <strong>Description:</strong> {{ event.description }}<br>
                {% endif %}
                <strong>Total Attendees:</strong> {{ event.attendees|length }}<br>
                <strong>Event ID:</strong> {{ event.id }}
            </div>
        </div>
        {% if pollForm is not null %}
            <div class="mt-3"></div>
            <div class="card">
                <div class="card-header">
                    <div class="float-right">
                        {% if is_granted('manage_poll', event) %}
                            {{ macros.linkbutton(
                                path('guild_event_poll', {guildId: guild.id, eventId: event.id}),
                                'Edit Poll',
                                'info',
                                'edit'
                            ) }}
                            {{ macros.linkbutton(
                                path('guild_event_poll_delete', {guildId: guild.id, eventId: event.id}),
                                'Delete Poll',
                                'danger',
                                'trash'
                            ) }}
                        {% endif %}
                    </div>
                    <strong>Poll</strong>
                </div>
                <div class="card-body">
                    {{ form_start(pollForm, {'action': path('guild_event_poll_vote', {'guildId': event.guild.id, 'eventId': event.id}), 'method': 'POST'}) }}
                    {% for a in pollForm.pollOption %}
                        <div class="mb-2">
                            {{ form_widget(a) }}
                            <small>{{ a.vars.value|poll_votes|length }} votes</small><br>
                            {% for vote in a.vars.value|poll_votes %}
                                <img class="avatar rounded-circle ml-1 mb-3" width="32px" alt="Avatar"
                                     src="{{ vote.user.fullAvatarUrl }}" title="{{ vote.user.getGuildNickname(guild) }}#{{ vote.user.discordDiscriminator }}"/>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    {{ form_end(pollForm) }}
                </div>
            </div>
        {% endif %}
        <div class="mt-3"></div>
        {% if event.attendees|length > 0 and guild.isAdmin(app.user) %}
            {{ form_start(attendeeForm) }}
            <div class="card">
                <div class="card-header">
                    <div class="float-right">
                        {{ macros.linkbutton(
                            path('guild_event_attend', {guildId: guild.id, eventId: event.id}),
                            'Add/Edit Attendee',
                            'success',
                            'plus'
                        ) }}
                    </div>
                    Admin actions
                </div>
                <div class="card-body">
                    You may check the checkboxes of event attendees and then click one of these buttons to apply actions
                    to them. This feature is entirely optional, but may come in handy for guilds that have too many
                    attendees.
                    <div class="text-center">
                        {{ form_widget(attendeeForm.confirm) }}
                        {{ form_widget(attendeeForm.reserve) }}
                        {{ form_widget(attendeeForm.reset) }}
                        {{ form_widget(attendeeForm.delete) }}
                    </div>
                </div>
            </div>
            <div class="mt-3"></div>
        {% endif %}
        {% for key,value in roles %}
            {% if event.attendeesByRole(key)|length > 0 %}
                <div class="card">
                    <div class="card-header">
                        <strong>{{ value }}</strong>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                            {% for attendee in event.attendeesByRole(key) %}
                                <tr class="attendee-status-{{ attendee.status }}">
                                    <td style="vertical-align: middle;word-break: break-all;" width="30%">
                                        <img class="avatar rounded-circle" width="32px" alt="Avatar"
                                             src="{{ attendee.user.fullAvatarUrl }}"/>
                                        <strong>{{ attendee.user.getGuildNickname(guild) }}</strong><small>#{{ attendee.user.discordDiscriminator }}</small>
                                        {% if attendee.user.patreonMembership > constant('App\\Entity\\User::PATREON_NONE') %}
                                            <li class="fa fa-gem patreon-{{ attendee.user.patreonMembership }}"
                                                title="{{ constant('App\\Entity\\User::PATREON')[attendee.user.patreonMembership] }} Supporter"></li>
                                        {% endif %}
                                        {% if attendee.characterPreset and attendee.characterPreset.notesHtml %}
                                            <span class="character-preset-notes-button" data-user="{{ attendee.user.id }}">
                                                <i class="fa fa-sticky-note" title="View notes"></i>
                                            </span>
                                        {% endif %}
                                    </td>
                                    <td style="vertical-align: middle" width="10%"><img
                                                src="{{ asset(attendee.getClassIcon()) }}"
                                                alt="{{ attendee.getClassName() }}"
                                                title="{{ attendee.getClassName() }}" width="30px"/>
                                    </td>
                                    <td style="vertical-align: middle" width="10%"><img
                                                src="{{ asset(attendee.getRoleIcon()) }}"
                                                alt="{{ attendee.getRoleName() }}"
                                                title="{{ attendee.getRoleName() }}" width="30px"/>
                                    </td>
                                    <td style="vertical-align: middle">
                                        {% for set in attendee.sets %}
                                            <a href="https://eso-hub.com/en/sets/{{ set.slug }}"
                                               target="_blank">{{ set.name }}</a>
                                            <br>
                                        {% endfor %}
                                    </td>
                                    <td style="vertical-align: middle"><i class="fa fa-clock"
                                                                          title="{{ app.user.toUserTimeString(attendee.createdAt) }}"></i>
                                    </td>
                                    {% if guild.isAdmin(app.user) %}
                                        <td style="vertical-align: middle" align="right" width="10%">
                                            {{ form_widget(attribute(attendeeForm, 'attendee_'~attendee.id)) }}
                                        </td>
                                    {% endif %}
                                </tr>
                                {% if attendee.characterPreset and attendee.characterPreset.notesHtml %}
                                    <tr style="display: none" id="notes-{{ attendee.user.id }}" >
                                        <td colspan="100%">
                                            <div class="character-preset-notes">
                                                {{ attendee.characterPreset.notesHtml|raw }}
                                            </div>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="mt-3"></div>
            {% endif %}
        {% endfor %}
        {% if guild.isAdmin(app.user) %}
            {{ form_end(attendeeForm) }}
        {% endif %}
        <div class="card">
            <div class="card-header"><strong>Comments</strong></div>
            <div class="card-body">
                {% for comment in event.comments %}
                    <div class="row">
                        <div class="col-md-1">
                            <img class="avatar rounded-circle" width="32px" alt="Avatar"
                                 src="{{ comment.user.fullAvatarUrl }}"/>
                        </div>
                        <div class="col-md-11">
                            {% if is_granted('delete', comment) %}
                                <div class="float-right">
                                    {{ macros.linkbutton(
                                        path('guild_event_comment_remove', {guildId: guild.id, eventId: event.id, commentId: comment.id}),
                                        '',
                                        'danger',
                                        'trash'
                                    ) }}
                                </div>
                            {% endif %}
                            <strong>{{ comment.user.getGuildNickname(guild) }}</strong><small>#{{ comment.user.discordDiscriminator }}
                                - {{ app.user.toUserTimeString(comment.createdAt) }}</small><br>
                            {{ comment.text }}
                        </div>
                    </div>
                    <hr>
                {% endfor %}
                {{ form_start(commentForm) }}
                {{ form_widget(commentForm.text) }}<br>
                {{ form_row(commentForm.submit) }}
                {{ form_end(commentForm) }}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header"><strong>My attendance</strong></div>
            <div class="card-body">
                {% if attending %}
                    <div class="alert alert-success">You are attending this event.</div>
                {% endif %}
                {% if not is_granted('attend', event) and not is_granted('unattend', event) %}
                    Attending or changing your attendance information for this event is not possible.
                {% else %}
                    {% if is_granted('attend', event) %}
                        {{ form_start(form, {'action': path('guild_event_attend_form_post', {'guildId': event.guild.id, 'eventId': event.id}), 'method': 'POST'}) }}
                        {{ form_widget(form) }}
                        {{ form_end(form) }}
                    {% endif %}
                    {% if attending and is_granted('unattend', event) %}
                        {{ macros.linkbutton(
                            path('guild_event_unattend', {guildId: guild.id, eventId: event.id}),
                            'I\'m no longer attending',
                            'danger btn-block',
                            'times'
                        ) }}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="https://eso-hub.com/css/external/tooltips.css" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
    <script src="https://eso-hub.com/js/external/tooltips.js"></script>
{% endblock %}
