{% extends 'base.html.twig' %}
{% import 'macros/macros.html.twig' as macros %}
{% block title %}Home{% endblock %}
{% block body %}
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Upcoming events</div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Event</th>
                            <th>Attendees</th>
                            <th>Date/Time</th>
                            <th class="text-right">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for event in events %}
                            <tr>
                                <td style="vertical-align: middle">{{ event.name }}</td>
                                <td style="vertical-align: middle">{{ event.attendees|length }}</td>
                                <td style="vertical-align: middle">{{ app.user.toUserTimeString(event.start) }}</td>
                                    <td class="text-right">
                                        {{
                                        macros.linkbutton(
                                            path('guild_event_view', {guildId: event.guild.id, eventId: event.id}),
                                            '',
                                            'secondary',
                                            'eye'
                                        )
                                        }}
                                    </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Your guilds</div>
                <div class="card-body">
                    {% if app.user.getActiveGuildMemberships()|length < 1 %}
                        You seem to have no active guilds. Turn one of your Discord servers into an active guild? Click here!
                    {% else %}
                        <table class="table">
                            <tbody>
                            {% for guild in app.user.getActiveGuildMemberships() %}
                                <tr>
                                    <td>
                                        {% if guild.guild.icon is not null %}
                                            <img class="avatar rounded-circle"
                                                 src="https://cdn.discordapp.com/icons/{{ guild.guild.discordId }}/{{ guild.guild.icon }}.png"
                                                 width="32" height="32"/>
                                        {% endif %}
                                    </td>
                                    <td>{{ guild.guild.name }}</td>
                                    <td>
                                        {{ macros.linkbutton(
                                            path('guild_view', {guildId: guild.guild.id}),
                                            '',
                                            'secondary',
                                            'eye'
                                        ) }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
{% endblock %}