{% extends 'base.html.twig' %}
{% import 'macros/macros.html.twig' as macros %}
{% block title %}Home{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('calendar') }}
{% endblock %}
{% block body %}
    <div class="col-md-9">
        <div class="card">
            <div class="card-header">Upcoming events</div>
            <div class="card-body">
                <div id="calendar-props" data-first-day-of-week="{{ app.user.firstDayOfWeek }}"
                     data-timezone="{{ app.user.timezone }}"></div>
                {% include '@Calendar/calendar.html' %}
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">Guilds</div>
            {% if app.user.getActiveGuildMemberships()|length < 1 %}
                <div class="card-body">
                    You seem to have no active guilds. Turn one of your Discord servers into an active guild? <a
                            href="{{ path('user_guilds') }}">Click here</a>!
                </div>
            {% else %}
                <ul class="list-group list-group-flush">
                    {% for guild in app.user.getActiveGuildMemberships() %}
                        <li class="list-group-item">
                            <img class="avatar rounded-circle"
                                 src="{{ guild.guild.getFullIconUrl() }}"
                                 width="32" height="32"/>
                            <strong><a href="{{ path('guild_view', {guildId: guild.guild.id}) }}">{{ guild.guild.name }}</a></strong>
                            {% if not guild.showOnCalendar %}
                                <span title="Events hidden from calendar" class="fa fa-eye-slash"></span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}