{% extends 'base.html.twig' %}
{% import 'macros/macros.html.twig' as macros %}
{% block title %}Home{% endblock %}
{% block body %}
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                Welcome to ESO Raidplanner
            </div>
            <div class="card-body">
                ESO Raidplanner is an organizational tool for guilds in <strong>The Elder Scrolls Online</strong>. It’s
                your raid and event planning butler who seamlessly integrates with your guild's Discord server. All you
                need is your personal Discord login.
                <br><br>

                <div class="text-center">
                    {{ macros.linkbutton(
                        path('auth_discord_login'),
                        'Login with Discord',
                        'primary discord-bg btn-block',
                        'discord',
                        true
                    ) }}
                </div>

                <br>

                <h4>Information for Guild Masters</h4>
                In order to use ESO Raidplanner the <u>owner</u> of your Discord server must <a
                        href="{{ path('auth_discord_login') }}">log in</a> here once and set up the
                guild to work with ESO Raidplanner. This process will also add the <a
                        href="{{ path('help_discord_bot') }}">ESO Raidplanner Bot</a> to your Discord
                server and allow your guild members to perform all that event magic from within Discord itself!

                <br><br>

                <h4>Information for Guild Members</h4>
                If your guild is already using ESO Raidplanner, simply <a href="{{ path('auth_discord_login') }}">log in
                    here</a> once, <a href="{{ path('help_getting_started') }}">set your timezone</a>, and you are
                ready to go. The system will automatically detect your Discord guilds. Once done you can use all
                features of the website and the bot with all ESO Raidplanner enrolled guilds you are a member of.

                <br><br>

                If you have any further questions you can always join our <a href="https://discord.gg/woeler"
                                                                             target="_blank">Discord server</a>.
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <iframe src="https://discordapp.com/widget?id=342583943838826497&theme=light" width="100%" height="570"
                allowtransparency="true" frameborder="0"></iframe>
    </div>
{% endblock %}