{% extends 'base.html.twig' %}
{% import 'macros/macros.html.twig' as macros %}
{% block title %}Settings{% endblock %}
{% block body %}
    {% if is_granted('ROLE_USER') %}
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    {% if guild.icon is not null %}
                        <img class="avatar rounded-circle"
                             src="{{ guild.getFullIconUrl() }}" width="32"
                             height="32"/>
                    {% endif %}
                    <a href="{{ path('guild_view', {'guildId': guild.id}) }}">
                        {{ guild.name }}
                    </a>
                    - Settings
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
            <div class="mt-3"></div>

            {% if guild.icalId is not null %}
                <div class="card">
                    <div class="card-header">iCal / Google Calendar link</div>
                    <div class="card-body">
                        <label for="guild-calendar">iCal link for all events from {{ guild.name }}</label>
                        <input name="guild-calendar" class="form-control" type="text" value="{{ url('api_ical_guild_calendar', {'icalId': guild.icalId}) }}" readonly>
                    </div>
                </div>
                <div class="mt-3"></div>
            {% endif %}

            <div class="card">
                <div class="card-header">
                    <div class="float-right">
                        {{
                        macros.linkbutton(
                            path('guild_settings_discord_sync', {guildId: guild.id}),
                            'Refresh channels list',
                            'info',
                            'sync'
                        )
                        }}
                    </div>
                    Discord Channels
                </div>
                <div class="card-body">
                    <div class="alert alert-info">
                        The channels listed are the channels <strong>to which the bot has access</strong>.
                    </div>
                    <table class="table">
                        {% for channel in guild.discordChannels %}
                            <tr>
                                <td>{{ channel.name }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

            <div class="mt-3"></div>

            <div class="card">
                <div class="card-header">
                    Danger zone
                </div>
                <div class="card-body">
                    {{
                    macros.linkbutton(
                        path('guild_deactivate', {guildId: guild.id}),
                        'Deactivate Guild',
                        'danger btn-block',
                        'trash'
                    )
                    }}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}